
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center my-5">{{title}}</h2>
    </div>


    <div class="col-md-10 mx-auto">
        <img [src]='imageSource' [width]="width" [height]="height" class="img-fluid d-block mx-auto">
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary mx-auto d-block my-2" (click)="changeImage()">more</button>
    </div>
</div>

<div class="row">

    <div class="col-6 mx-auto" *ngIf="!completedForm">
        <h4 class="my-5 text-center">
            Please let us know how we can help you
        </h4>
        <form>

            <input type="text" name="name" class="form-control my-2" placeholder="Name" [(ngModel)]="name">

            <input type="telephone" name="telephone" class="form-control my-2" placeholder="Telephone" [(ngModel)]="telephone">

            <input type="email" name="email" class="form-control my-2" placeholder="Email" [(ngModel)]="email" email="true">

            <textarea class="form-control my-2" name="message" placeholder="Message" [(ngModel)]="message"></textarea>

            <button class="btn btn-primary mx-auto d-block my-2" (click)="submitForm()">Submit</button>

        </form>
    </div>


    <div class="col-6 mx-auto" *ngIf="completedForm">
        <h4 class="my-5 text-center">
           Thank you for your message
        </h4>
        <div class="row mx-auto" style="max-width: 400px;">
            <div class="col-md-6">
            
                <strong>Name:</strong><p>{{name}}</p>

                <strong>Telephone:</strong><p>{{telephone}}</p>

            </div>
            <div class="col-md-6">

                <strong>Email:</strong>
                <p>{{email}}</p>
                
                <strong>Message:</strong>
                <p>{{message}}</p>
            </div>
        </div>

        <div class="col-md-4 mx-auto">
            <button class="btn btn-primary mx-auto d-block my-2" (click)="resetForm()">Reset</button>
        </div>
    </div>

</div>

