<h1>
    Apartament Map
</h1>
<ul>
    <li>
        <a routerLink="/bedroom" routerLinkActive="activeClass" (click)="changeBackground('bedroom')"
            href="javascript:void(0)">
            bedroom
        </a>
    </li>
    <li>
        <a routerLink="/bathroom" routerLinkActive="activeClass" (click)="changeBackground('bathroom')"
            href="javascript:void(0)">
            bathroom
        </a>
    </li>
    <li>
        <a routerLink="/livingRoom" routerLinkActive="activeClass" (click)="changeBackground('livingRoom')"
            href="javascript:void(0)">
            livingRoom
        </a>
    </li>
    <li>
        <a routerLink="/kitchen" routerLinkActive="activeClass" (click)="changeBackground('kitchen')"
            href="javascript:void(0)">
            kitchen
        </a>
    </li>
    <li>
        <a routerLink="/hall" routerLinkActive="activeClass" (click)="changeBackground('hall')"
            href="javascript:void(0)">
            hall
        </a>
    </li>
</ul>